.heading { 
  margin-top: 10rem;

}


.btn {
 background-color:#499AE9;
 
 border-radius: 4px;
 
}

.headerbtn {
  background: transparent;
  color: blue;
}


.start { 
  margin-top: 5rem;
}


.white {
  color: white;
}